body {
  margin: 0;
  padding: 0;
  background-color: #DFDFDF;
}

.main{
  max-width: 1280px;
  margin: auto;
}

  .main .product-name {
    display: flex;
    background-color: #445162;
    justify-content: space-between;
    padding: 50px;
  }

    .main .product-name .product-name-left {

    }

      .main .product-name .product-name-left span {
        font-family: Arial;
        color: #ffffff;
        font-size: 60px;
        font-weight: 400;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      }

      .main .product-name .product-name-left ul {
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        list-style-image: url(img/check-icon.png);
      }

        .main .product-name .product-name-left ul li {
          list-style-type: none;
        }

  .about-your-product {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 50px;
  }

    .about-your-product .about-your-product-left {
      max-width: 653px;
    }

      .about-your-product .about-your-product-left span {
        font-family: Arial;
        font-size: 30px;
        color: #445161;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
      }

      .about-your-product .about-your-product-left p {
        font-family: Arial;
        font-size: 16px;
        color: #333333;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      }

  .dignity {
    background-color: #f5f5f5;
    padding: 50px;
  }

    .dignity span {
      font-family: Arial;
      color: #445161;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      display: block;
      text-align: center;
    }

    .dignity .dignity-left {
      max-width: 526px;
      float: left;
    }

      .dignity .dignity-left ul {
        font-family: Arial;
        color: #333;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

        .dignity .dignity-left ul li {
          padding-bottom: 35px;
          list-style-type: none;
        }
